<header id="top">
	<!-- START: U.S. Government banner -->
	<div id="block-usagovheader" class="block-content--usa-gov-header block-type-block-content block block-block-content">
		<div class="usa-banner">
			<div class="usa-accordion">
				<div class="usa-banner-header">
					<div class="usa-grid usa-banner-inner">
						<img alt="U.S. flag" src="https://ntp.niehs.nih.gov/sites/default/files/images/template/favicon-57.png" />
						<p>An official website of the United States government</p>
						<button aria-expanded="false" class="usa-accordion-button usa-banner-button" id="gov-banner-button">
							<span class="usa-banner-button-text">Here's how you know </span>
						</button>
					</div>
				</div>
				<div class="usa-banner-content usa-accordion-content usa-closed" id="gov-banner">
					<div class="usa-banner-guidance-gov usa-width-one-half">
						<img alt="Dot gov" class="usa-banner-icon usa-media_block-img" src="https://ntp.niehs.nih.gov/sites/default/files/images/template/dot-gov.svg" />
						<div class="usa-media_block-body">
							<p>
								<strong>The .gov means it's official.</strong>
								<br />Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you're on a federal government site.
							</p>
						</div>
					</div>
					<div class="usa-banner-guidance-ssl usa-width-one-half">
						<img alt="Https" class="usa-banner-icon usa-media_block-img" src="https://ntp.niehs.nih.gov/sites/default/files/images/template/icon-https.svg" />
						<div class="usa-media_block-body">
							<p>
								<strong>The site is secure.</strong>
								<br />The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END: U.S. Government banner -->
	<!-- START: Utility menu -->
	<nav class="header-nav">
		<div class="row">
			<div class="column"></div>
			<div class="column shrink">
				<ul class="menu">
					<li><a href="https://ntp.niehs.nih.gov/events">Calendar<span> &amp; Events</span></a></li>
					<li><a href="https://ntp.niehs.nih.gov/media">News &amp; Media</a></li>
					<li><a href="https://ntp.niehs.nih.gov/getinvolved">Get Involved</a></li>
					<li><a href="https://ntp.niehs.nih.gov/support">Support</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END: Utility menu -->
	<!-- START: Header identity -->
	<div id="header-print" class="print-only">
		<img src="https://ntp.niehs.nih.gov/themes/ntp/images/logo_print.gif" alt="National Toxicology Program" />
	</div>
	<div class="header-identity">
		<div class="row medium-unstack align-middle">
			<div class="columns large-4 medium-6 small-12 small-order-1 header-logo">
				<a href="https://ntp.niehs.nih.gov">
					<img src="https://ntp.niehs.nih.gov/themes/ntp/logo.svg" title="Go to the NTP home page" alt="National Toxicology Program - U.S. Department of Health and Human Services" />
				</a>
			</div>
			<div class="columns large-4 large-offset-4 medium-6 small-order-2 header-search">
				<form name="search" id="search" class="input-group" method="get" action="https://ntpsearch.niehs.nih.gov">
					<span class="input-group-label"><span class="fa fa-search" aria-hidden="true"></span></span>
					<input type="text" placeholder="Search the NTP Website" id="query-search" class="input-group-field queryAutocomplete ui-autocomplete-input" name="query" title="Search the NTP Website" aria-label="Search Keyword" />
					<input type="submit" class="button input-group-button" value="Search" />
				</form>
			</div>
		</div>
	</div>
	<!-- END: Header identity -->
</header>