
{% extends "base.html" %}

{% block title %}SEAZIT-DIVER{% endblock %}

{% block crumbs %}
<ul class="nav nav-tabs my-2">

    <li class="nav-item">
        <a class="nav-link {% if active_view_name == 'home' %}active{% endif %}" href="{% url 'seazit:home' %}">
            <i class="fa fa-home fa-lg"></i>&nbsp;About
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% if active_view_name == 'dataset' %}active{% endif %}" href="{% url 'seazit:dataset' %}">
            Datasets
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% if active_view_name == 'qc' %}active{% endif %}" href="{% url 'seazit:qc' %}">
            Quality Check
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% if active_view_name == 'seazit_cr' %}active{% endif %}" href="{% url 'seazit:seazit_cr' %}">
            Concentration Response
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% if active_view_name == 'seazit_bmcByLab' %}active{% endif %}" href="{% url 'seazit:seazit_bmcByLab' %}">
            BMC by Dataset
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% if active_view_name == 'seazit_integrative' %}active{% endif %}" href="{% url 'seazit:seazit_integrative' %}">
            Integrative Analyses
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link {% if active_view_name == 'resources' %}active{% endif %}" href="{% url 'seazit:resources' %}">
            Resources
        </a>
    </li>

</ul>
{% endblock crumbs %}
