{% extends "seazit/base.html" %}

{% block title %}{{block.super}} | Quality Control{% endblock %}

{% block content %}
<div id='main'></div>
<iframe id='iframeApp' frameborder=0 
        src="http://157.98.116.158:3939/seazit_qc/"></iframe>
         <!--src="https://sandbox-staging.ntp.niehs.nih.gov/rsconnect/content/143"></iframe>
       <iframe class="doc" src="https://docs.google.com/gview?url=https://subtreebucket.s3.amazonaws.com/docsFile_1559124133664_dummy.pdf&embedded=true"></iframe>
        https://sandbox-staging.ntp.niehs.nih.gov/rsconnect/content/143
        https://sandbox-staging.ntp.niehs.nih.gov/rsconnect/seazit_qc/
      -->

           
{% endblock content %}

{% block extra-js %}
<script>
  window.apps.seazit.renderQualityControl(document.getElementById('main'));
  window.apps.resizeIframe(document.getElementById('iframeApp'));
</script>
{% endblock extra-js %}