.legendText {
    /*font-size: 0.7rem;*/
    font-size: 15px;
    font-weight: bold;
}

.tooltip {
    position: absolute;
    width: 120;
    height: auto;
    font-family: simsun;
    font-size: 14px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-radius: 5px;
}

.box {
    float: left;
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
    /*border: 1px solid;*/
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.magentaBox {
    /*background-color: #d62976;*/
    float: left;
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
    border: 5px solid #d62976;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.labelHorizontal {
    display: flex;
    align-items: center;
}

.labelBold {
    font-weight: bold;
}

.labelNormal {
    font-weight: normal;
}

.flex-container {
    display: flex;
    /* Additional styles for the flex container, if needed */
}

.flex-item {
    /* Styles for each flex item */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.pointer-button {
    cursor: pointer;
}

.sankeyTitle {
    /*color: red;*/
}

.centered-table-body td {
    text-align: center;
    vertical-align: middle;
}
