/* NTP style overrides
======================
*/
html,
body {
    -webkit-font-smoothing: subpixel-antialiased;
}

.breadcrumb {
    margin-top: 0.5em;
}

header#top {
    z-index: 900;
}

.ReactModal__Overlay {
    z-index: 999;
}

/*
HTTP page error styling
=======================
*/
.error {
    background-color: #ece3e3;
    border: 2px solid rgb(153, 114, 114);
    border-radius: 5px;
    height: 100%;
    padding: 30px;
    text-align: center;
}
.errorHeader {
    color: rgb(155, 126, 49);
    font-size: 48px;
    text-align: center;
}
.error p {
    font-family: monospace;
    font-size: 1.3em;
    font-weight: bold;
}

/*
iframes
=======
*/
iframe {
    min-height: 120vh;
    width: 100%;
}

/*
django forms
============
*/
.no-list-style {
    list-style: none;
}

/*
username icon
=============
*/
.username-label {
    margin: 1em 1em;
}

/*
Big bootstrap modals
====================

/* Modal Dialog */
.modal-dialog {
    max-width: 80vw; /* Set the maximum width to 80% of the viewport width */
    width: 95%; /* Ensure it takes full width up to max-width */
    margin: 1.75rem auto; /* Center the modal vertically with margin */
    height: 95%;
}

/* Modal Content */
.modal-content {
    width: 100%; /* Full width of the dialog */
    height: 100%;
    border-radius: 0.3rem; /* Optional: adds border radius */
}

/* Modal Header */
.modal-header {
    padding: 1rem; /* Adds padding around header content */
    border-bottom: 1px solid #dee2e6; /* Optional: adds border for separation */
}

.modal-body {
    height: calc(100% - 50px);
    overflow-y: auto;
    width: 100%;
}

/*
Flex containers
===============
*/
.flex-row-container {
    display: flex;
    flex-flow: row;
}

.flex-column-container {
    display: flex;
    flex-flow: column;
}

.flex-1 {
    flex: 1;
    margin: 5px;
}

.flex-2 {
    flex: 2;
    margin: 5px;
}

.flex-3 {
    flex: 3;
    margin: 5px;
}

.flex-4 {
    flex: 4;
    margin: 5px;
}

.flex-5 {
    flex: 5;
    margin: 5px;
}

.flex-6 {
    flex: 6;
    margin: 5px;
}

/*
D3 tooltips
*/
.d3-tip {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    line-height: 1;
    pointer-events: none;
    padding: 6px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.8);
    content: '\25BC';
    display: inline;
    font-size: 10px;
    line-height: 1;
    pointer-events: none;
    position: absolute;
    text-align: center;
    width: 100%;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
    pointer-events: none;
}

/* Letters that create an acronym */
.acronym-letter {
    font-weight: bold;
    color: #232b5f;
}

/*style*/
.label-horizontal {
    display: flex;
    align-items: center;
}
.label-normal {
    font-weight: normal;
}

.pointer-button {
    cursor: pointer;
}

.custom-select-height {
    height: auto; /* Set it to auto to adjust based on content or set a specific height */
    min-height: 250px; /* Increase the minimum height */
    overflow: auto; /* Ensure it scrolls if needed */
    overflow-x: hidden; /* Hide horizontal scroll */
}

.centered-table-body {
    text-align: center;
    vertical-align: middle;
}

.legend-text {
    /*font-size: 0.7rem;*/
    font-size: 15px;
    font-weight: bold;
}

.tooltip {
    position: absolute;
    width: 120;
    height: auto;
    font-family: simsun;
    font-size: 14px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    border-radius: 5px;
}

.box {
    float: left;
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
    /*border: 1px solid;*/
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.magentaBox {
    /*background-color: #d62976;*/
    float: left;
    height: 20px;
    width: 20px;
    margin-bottom: 15px;
    border: 2px solid #d62976;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.label-normal {
    font-weight: normal;
}

.flex-container {
    display: flex;
    /* Additional styles for the flex container, if needed */
}

.alert > p,
.alert > ul {
    margin-bottom: 0;
}

.radio label {
    /*min-height: 20px;*/
    /*padding-left: 20px;*/
    /*margin-bottom: 0;*/
    font-weight: 400;
    cursor: pointer;
}
/*.callout_yellow,.yellow.blueCalloutBox,.yellow.grayCalloutBox,.yellowCalloutBox {*/
/*      border-color: #e0d2b5;*/
/*      background-color: #fff1d4*/
/*  }*/

.row h1,
.row h2 {
    font-weight: inherit !important;
}
