.assayDot {
    cursor: pointer;
    fill: black;
    opacity: 0.8;
}
.assayGroupHover circle {
    fill: #f5ff0b;
    stroke: #1f12a1;
    stroke-width: 2px;
}

.seem3Triangle {
    fill: #bd0008;
}
.seem3refLine {
    stroke: #bd0008;
    stroke-width: 3px;
}
.assayGroupRect {
    fill: none;
    stroke: none;
    stroke-width: 2px;
}
.assayGroupHover rect {
    fill: #3e8b02;
    opacity: 0.5;
    stroke: grey;
    z-index: 1000;
}

.label {
    font-size: 1rem;
    font-weight: bold;
    text-anchor: middle;
}

.refLine {
    stroke: #efefef;
    stroke-width: 7px;
}
.refLine2 {
    stroke: #bd0008;
    stroke-width: 3px;
}
.rectBox {
    fill: transparent;
    stroke: grey;
    stroke-width: 2px;
}

.legendBox {
    fill: white;
    stroke: grey;
    stroke-width: 1px;
}
.legendText {
    font-size: 0.8rem;
    font-weight: bold;
}

.boxplotRect {
    fill: orange;
    fill-opacity: 0.3;
    stroke: #f7a408;
    stroke-width: 4px;
    stroke-opacity: 0.8;
}
.boxplotWhisker {
    stroke: #f7a408;
    stroke-width: 4px;
    stroke-opacity: 0.8;
}
.boxplotMedian {
    stroke: #f7a408;
    stroke-width: 4px;
    stroke-opacity: 0.8;
}
