{% extends "neurotox/base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>
                <span class="acronym-letter">D</span>evelopmental <span class="acronym-letter">N</span>euro<span class="acronym-letter">T</span>oxicity <span class="acronym-letter"> (<span class="acronym-letter">DNT-SEAZIT</span>)
            </h1>

            <img class="img-responsive center-block" src="{{STATIC_URL}}img/neurotox/logo-2.jpg"
                alt="Logo: a zebrafish, neurons firing, data and charts" />

            <br/>
            <p>
                 
            </p>
            <p>
                 
            </p>
            <p>
                
            </p>
            <p>
                Within DNT-SEAZIT, comparisons are organized on different tabs including experimental design summary, quality control, chemical-specific concentration response curves, ranking of chemical toxicity per lab/assay, and comparison of results across assays. We also provide downloadable resources including raw and final data, along with the <a href="{{STATIC_URL}}resources/neurotox/NTP%20Chemical%20Library.xlsx">NTP Chemical Library (Microsoft Excel&nbsp;<i class="fa fa-file-excel-o"></i>)</a> that was tested by collaborators in their respective models.
            </p>
            <h2>
                Suggestions?
            </h2>
            <p>
                We are currently refining assays, analyses, and visualizations, and would appreciate your input! Please direct questions or suggestions to <a href="mailto:jui-hua.hsieh@nih.gov?subject=DNT-SEAZIT%20suggestion">Jui-hua Hsieh</a> and <a href="mailto:kristen.ryan@nih.gov??subject=DNT-SEAZIT%20suggestion">Kristen Ryan</a>.
            </div>
            </p>
    </div>
</div>
{% endblock content %}
