{% extends "neurotox/base.html" %}

{% block title %}{{block.super}} | Resources{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Resources</h1>
            <p>
                NTP hosted a workshop to solicit global input on assays, data analysis strategies, and regulatory feedback for innovative screening tools to better prioritize compounds with potential to cause developmental and adult neurotoxicity. A summary of discussions that occurred during the NTP-hosted workshop is <a href="{{STATIC_URL}}resources/neurotox/DNT%20Workshop%20Report.pdf">available&nbsp;(Adobe PDF <i class="fa fa-file-pdf-o"></i>)</a>.
            </p>

            <h2>Data and Peer Reviewed Publications</h2>

            <p>
                All the participants of the workshop have graciously consented to their data being made publicly available to foster scientific discussions and further the field. The data are available in text and Excel file formats in a zip file, and can be downloaded via the NTP CEBS <a href="https://doi.org/10.22427/NTP-DATA-002-00062-0001-0000-1">data page</a>. This also includes the results of the standardized NTP analysis including normalization and BMC analysis.
            </p>

            <p>To cite these data, please use the following citation:</p>

            <blockquote>
                <!-- <p>National Toxicology Program. 2018. Data Release: Developmental NeuroToxicity Data Integration and Visualization Enabling Resource (DNT-DIVER). Last Updated: December 3, 2018. doi: <a href="https://doi.org/10.22427/NTP-DATA-002-00062-0001-0000-1">10.22427/NTP-DATA-002-00062-0001-0000-1</a>. </p> -->
                <p>National Toxicology Program. 2018. Data Release: Developmental NeuroToxicity Data Integration and Visualization Enabling Resource (DNT-DIVER). Last Updated: December 3, 2018. doi: <a href="https://academic.oup.com/toxsci/pages/ntp_collection">https://academic.oup.com/toxsci/pages/ntp_collection</a>. </p>

            </blockquote>

            <p>Related peer-reviewed publications in the scientific literature are also available in the above link.</p>

        </div>
        <div class="col-md-12">
            <h2>The Team</h2>
        </div>
        <div class="col-md-4">

            <h4>&nbsp;</h4>             

            <b>Jui-Hua Hsieh, Ph.D</b><br />
            Contractor - Bioinformatics Scientist, Biomolecular Screening Branch<br />
            <i>Data Analyst &amp; Application Development</i><br />
            <a href="mailto:jui-hua.hsieh@nih.gov">jui-hua.hsieh@nih.gov</a><br />
            <br />
             

            <b>Sue Nolte</b><br />
            Contractor - Software Developer, Office of Data Science<br />
            <i>Application Deployment</i><br />
            <a href="mailto:sue.nolte@nih.gov">sue.nolte@nih.gov</a><br />
            <br />
        </div>
        <div class="col-md-4">

            <h4>&nbsp;</h4>

            <b>Kristen Ryan, Ph.D, DABT</b><br />
            Toxicologist, Toxicology Branch<br />
            <i>Co-Lead, Design and Data Interpretation</i><br />
            <a href="mailto:kristen.ryan@nih.gov">kristen.ryan@nih.gov</a><br />
            <br />

            <b>Fred Parham, Ph.D.</b><br />
            Mathematical Statistician, Biomolecular Screening Branch<br />
            <i>Data Analyst</i><br />
            <a href="mailto:parham@niehs.nih.gov">parham@niehs.nih.gov</a><br />
            <br />

             

            <b>Zicong Wang</b><br />
            Contractor - Software Developer, Office of Data Science<br />
            <i>Application Deployment</i><br />
            <a href="mailto:zicong.wang@nih.gov">zicong.wang@nih.gov</a><br />
            <br />
        </div>
        <div class="col-md-4">

            <h4>Advisors</h4>

            <b>Richard S. Paules, Ph.D</b><br />
            Acting Chief, Biomolecular Screening Branch<br />
            <a href="mailto:paules@niehs.nih.gov">paules@niehs.nih.gov</a><br />
            <br />

            <b>Nigel Walker, Ph.D, DABT</b><br />
            Acting Chief, Toxicology Branch<br />
            <a href="mailto:walker3@niehs.nih.gov">walker3@niehs.nih.gov</a><br />
            <br />

            <b>Raymond R. Tice, Ph.D</b><br />
            Contractor - RTice Consulting<br />
            <a href="mailto:RTiceConsulting@gmail.com">RTiceConsulting@gmail.com</a><br />
            <br />

            <b>Paul M. Foster, Ph.D, Fellow ATS</b><br />
            Retired<br />
            <a href="mailto:paulmdfoster@gmail.com">paulmdfoster@gmail.com</a><br />
            <br />

            <b>Charles Schmitt, Ph.D</b><br />
            Contractor - Senior Advisor, Office of Data Science<br />
            <a href="mailto:charles.schmitt@nih.gov">charles.schmitt@nih.gov</a><br />
            <br />

            <b>Jennifer M. Fostel, Ph.D</b><br />
            CEBS Scientific Administrator, Program Operations Branch<br />
            <a href="mailto:fostel@niehs.nih.gov">fostel@niehs.nih.gov</a><br />
            <br />

        </div>
    </div>
</div>
{% endblock content %}
